/cmake-build-debug

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
playground.h
playground.c
.vscode
FPS_Simulator.cbp
.cmake/
*.o
bin/FPS_Simulator
FPS_Simulator
